<!DOCTYPE html>
<html>
<head>
    <style>
        .kk {
            text-align: right;
            padding: 0px 12px;
            position: static;
        }
    </style>
    <style>
        .mm {
            display: inline;
            padding: 12px 24px;
            background-color: yellow;
            color: black;
            text-decoration: none;
            margin-left: 600px;
        }
    </style>
    <title>products phone</title>
</head>
<body>
    {% for i in range(17) %}
        <h1 style="text-align: right;">محصول {{ i+1 }}</h1>
        <img src="{{ image[i] }}" alt="this is nice picture" style="margin-left: 700px;">
        <h2 style="text-align: right;">{{ names[i] }}</h2>
        <h2 style="text-align: right;">قیمت محصول = {{ prices[i] }} تومان</h2>
        <p class="kk">نظرات : {{ comment_site[i] }}</p>
        <a href="https://t.me/Products_Site123bot" class="mm">هدایت به تلگرام جهت خرید محصول {{ i+1 }}</a>
        <hr style="margin-top: 20px;">
    {% endfor %}
</body>
</html>
